*{
    margin: 0;
    padding: 0;
    
}

body{
    background-image: url();
    margin: 0px 200px 0px 200px;
}

.header1{
    display: inline-block;
    margin: 20px 0px 20px 0px;
    padding-top: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 5vh;
    text-transform: capitalize;
    
    
}

nav > ul{
    display: inline-block;
    margin-left: 250px;
}

nav > ul > li{
    list-style-type: none;
    display: inline-block;
    padding: 20px;
    align-items: center;
    
}

img{
    margin: 20px;
}

p.img-center{
    text-align: center;
}

a{
    text-decoration: none;
    color: Black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover, a:active {
    text-decoration: underline;
    text-transform: uppercase;
}

.web-flag{
    font-size: 7vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    margin: 20px 0px 20px 20px;
}

h2{
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    text-align: center;

}

p{
    font-family: 'Roboto', sans-serif;
    margin: 20px 0px;
    font-size: 3vh;
    line-height: 40px;
}

ul{
    margin-top: 20px;
    margin-left: 30px;
}

li{
    margin-top: 10px;
    font-family: Roboto;

}

footer{
    text-align: center;
    margin: 100px 100px 20px 100px;
    padding: 20px;
    font-family: monospace;
    font-size: 20px;
}

p.foo{
    font-family: monospace;
}

img.profile{
    height: 200px;
    width: 200px;
    display: inline-block;
    display: flex;
    flex-direction: column;
    
}

.abtus{
    width: 700px;
}


.flex-container{
    display: flex;
    
}

#one, #two, #three, #four{
    height: 200px;
    width: 200px;
    margin: 10px;
    background-color: white;
    border: solid 2px black ;
    text-align: center;
}

.active{
    text-decoration: underline 2px solid;
}